.main{ 
   width:100%;height:100%;background-color:transparent;
  
 
background-repeat:no-repeat;
}
.head{
width:100%;height:10%;border:3px solid black;
}
.links{
	width:100%;height:5%;
	a{text-decoration:none;}
	}

.d1{
	width:300px;height:75%;float:left; 
	}
.d2{
	width:1000px;height:75%;float:left; border:1px solid black;  text-align:left;
    vertical-align:middle;color:#F78181;text-align:justify;
text-justify:inter-word;
	}
.d3{
	width:*px;height:75%;   
	}
.foot{
	width:100%;height:6%; 
	}
.da{
	width:300px;height:85%;border:1px solid black;float:left; 
	}
.db{
	width:700px;height:85%; float:left; border:1px solid black;background-color:#E6801A;
	}
.dc{
	width:*px;height:85%;  
	}
 .dd{
	width:1000px;height:85%; float:left; border:1px solid black;
	}